* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #E5CFA4;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #1e1e19;
  height: 30px;
  border-radius: 50px;
}

body {
  font-family: 'Space Mono', monospace;
  overflow-x: hidden;
  background-color: black;
}

body .scroll-top {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #E5CFA4;
  bottom: 10px;
  right: 5px;
  border-radius: 10px;
}

body .scroll-top i {
  margin-left: 6px;
  color: black;
}

.container {
  width: 100vw;
}

nav {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e5cfa4;
  position: fixed;
  z-index: 999;
  position: relative;
}

nav .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
}

nav .languages .uzbek {
  width: 40px;
}

nav .languages .uzbek img {
  width: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .languages .uzbek img:active {
  width: 35px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .languages .russian {
  width: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .languages .russian img {
  width: 30px;
}

nav .languages .russian img:active {
  width: 35px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .navbar {
  width: 44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar .telephone {
  margin-right: 10px;
  position: relative;
}

nav .navbar .telephone::after {
  position: absolute;
  bottom: -7px;
  content: '';
  width: 0%;
  height: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
}

nav .navbar .telephone:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .navbar .telephone:hover::after {
  width: 100%;
  background-color: black;
}

nav .navbar .telephone a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 900;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar .telephone a i {
  display: inline;
  margin-right: 5px;
}

nav .navbar .telephone a i p {
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar .instagram {
  margin-right: 10px;
  position: relative;
}

nav .navbar .instagram::after {
  position: absolute;
  bottom: -7px;
  content: '';
  width: 0%;
  height: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
}

nav .navbar .instagram:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .navbar .instagram:hover::after {
  width: 100%;
  background-color: black;
}

nav .navbar .instagram a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 900;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar .instagram a i {
  font-weight: 900;
  margin-right: 5px;
}

nav .navbar .instagram a p {
  display: inline;
  font-family: 'Space Mono', monospace;
  font-weight: 900;
}

nav .navbar .telegram {
  -webkit-transition: 0.2ms;
  transition: 0.2ms;
  position: relative;
}

nav .navbar .telegram::after {
  position: absolute;
  bottom: -7px;
  content: '';
  width: 0%;
  height: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
}

nav .navbar .telegram:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .navbar .telegram:hover::after {
  width: 100%;
  background-color: black;
}

nav .navbar .telegram a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 900;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navbar .telegram a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav .navbar .telegram a i {
  margin-right: 5px;
}

nav .navbar .telegram a p {
  display: inline;
  font-family: 'Space Mono', monospace;
  font-weight: 900;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
  background-color: black;
  padding-top: 80px;
  padding-bottom: 30px;
}

main .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .left img {
  height: 25vh;
  border-radius: 10px;
}

main .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .middle img {
  height: 75vh;
}

main .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .right img {
  height: 25vh;
  border-radius: 10px;
}

h2 {
  background-color: black;
  color: #E5CFA4;
  text-align: center;
  font-size: 40px;
}

.product-img {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}

.product-img h2 {
  color: #E5CFA4;
  width: 100%;
  margin: 0 auto;
}

.product-img .img__product img {
  width: 100%;
  margin-top: 30px;
}

.about__product {
  background-color: black;
  color: #FFF;
  width: 90%;
  margin: 0 auto;
}

.about__product .description h3 {
  color: #E5CFA4;
}

.form {
  width: 100%;
  margin: 0 auto;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form form label {
  color: #E5CFA4;
  margin: 0 auto;
}

.form form .submit {
  height: 40px;
  border-radius: 10px;
}

.form form input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: .2rem 0;
  outline: none;
  background-color: transparent;
  color: #E5CFA4;
  -webkit-transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.form form input:hover, .form form input:focus {
  outline: none;
  padding: .2rem 1rem;
  border-radius: 1rem;
  border-color: #E5CFA4;
}

.form form input::-webkit-input-placeholder {
  color: #777;
}

.form form input:-ms-input-placeholder {
  color: #777;
}

.form form input::-ms-input-placeholder {
  color: #777;
}

.form form input::placeholder {
  color: #777;
}

.form form input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.form form input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.form form input:focus::-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.form form input:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.pop-up-succes {
  position: absolute;
  display: none;
  z-index: 999;
  left: calc((100%)/2 - 30vw);
  width: 60vw;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  position: relative;
}

.pop-up-succes .succes-exit-btn {
  position: absolute;
  top: -15px;
  right: -15PX;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.pop-up-succes .succes-exit-btn img {
  width: 100%;
}

.pop-up-succes .succes__img {
  width: 150px;
  margin: 0 auto;
}

.pop-up-succes .succes__img img {
  width: 100%;
}

.pop-up-succes .succes-text {
  color: black;
  text-align: center;
  font-size: 35px;
}

.pop-up-succes button {
  width: 100px;
}

.pop-up-fail {
  position: absolute;
  z-index: 999;
  left: calc((100%)/2 - 30vw);
  width: 60vw;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  position: relative;
}

.pop-up-fail .fail-exit-btn {
  position: absolute;
  top: -15px;
  right: -15PX;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.pop-up-fail .fail-exit-btn img {
  width: 100%;
}

.pop-up-fail .fail__img {
  width: 150px;
  margin: 0 auto;
}

.pop-up-fail .fail__img img {
  width: 100%;
}

.pop-up-fail .fail-text {
  color: black;
  text-align: center;
  font-size: 35px;
}

.pop-up-fail button {
  width: 100px;
}

@media screen and (max-width: 480px) {
  nav .navbar {
    width: 65%;
  }
  nav .navbar .instagram a p {
    display: none;
  }
  nav .navbar .telegram a p {
    display: none;
  }
  main .left img {
    height: 15vh;
  }
  main .middle img {
    height: 45vh;
  }
  main .right img {
    height: 15vh;
  }
  .about__product {
    width: 90%;
  }
  .form .pop-up-succes {
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */