* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #E5CFA4;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #1e1e19;
  height: 30px;
  border-radius: 50px;
}

body {
  font-family: 'Space Mono', monospace;
  overflow-x: hidden;
}

.container {
  width: 100vw;
}

nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #E5CFA4;
}

nav .logo {
  margin-right: 20px;
  margin-left: 20px;
}

nav .logo img {
  height: 100px;
  transform: rotate(90deg);
}

nav .logo a {
  text-decoration: none;
  color: black;
}

nav .navbar {
  width: 44%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav .navbar .telephone {
  margin-right: 10px;
  position: relative;
}

nav .navbar .telephone::after {
  position: absolute;
  bottom: -7px;
  content: '';
  width: 0%;
  height: 3px;
  transition: 0.5s;
  border-radius: 5px;
}

nav .navbar .telephone:hover {
  transition: 0.2s;
}

nav .navbar .telephone:hover::after {
  width: 100%;
  background-color: black;
}

nav .navbar .telephone a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
  font-weight: 900;
  font-size: 18px;
  display: flex;
  align-items: center;
}

nav .navbar .telephone a i {
  display: inline;
  margin-right: 5px;
}

nav .navbar .telephone a i p {
  display: inline;
  align-items: center;
}

nav .navbar .instagram {
  margin-right: 10px;
  position: relative;
}

nav .navbar .instagram::after {
  position: absolute;
  bottom: -7px;
  content: '';
  width: 0%;
  height: 3px;
  transition: 0.5s;
  border-radius: 5px;
}

nav .navbar .instagram:hover {
  transition: 0.2s;
}

nav .navbar .instagram:hover::after {
  width: 100%;
  background-color: black;
}

nav .navbar .instagram a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
  font-weight: 900;
  font-size: 20px;
  display: flex;
  align-items: center;
}

nav .navbar .instagram a i {
  font-weight: 900;
  margin-right: 5px;
}

nav .navbar .instagram a p {
  display: inline;
  font-family: 'Space Mono', monospace;
  font-weight: 900;
}

nav .navbar .telegram {
  transition: 0.2ms;
  position: relative;
}

nav .navbar .telegram::after {
  position: absolute;
  bottom: -7px;
  content: '';
  width: 0%;
  height: 3px;
  transition: 0.5s;
  border-radius: 5px;
}

nav .navbar .telegram:hover {
  transition: 0.2s;
}

nav .navbar .telegram:hover::after {
  width: 100%;
  background-color: black;
}

nav .navbar .telegram a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
  font-weight: 900;
  font-size: 20px;
  display: flex;
  align-items: center;
}

nav .navbar .telegram a:hover {
  transition: 0.2s;
}

nav .navbar .telegram a i {
  margin-right: 5px;
}

nav .navbar .telegram a p {
  display: inline;
  font-family: 'Space Mono', monospace;
  font-weight: 900;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  background-color: black;
  padding-bottom: 30px;
}

main .left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

main .left img {
  height: 15vh;
}

main .middle {
  display: flex;
  align-items: center;
}

main .middle img {
  height: 40vh;
}

main .right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

main .right img {
  height: 15vh;
}

h2 {
  background-color: black;
  color: #E5CFA4;
  text-align: center;
  font-size: 40px;
}

.product {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: black;
}

.product h2 {
  color: #E5CFA4;
  width: 100%;
  margin: 0 auto;
}

.product .img__product img {
  width: 100%;
  margin-top: 30px;
}

@media screen and (max-width: 480px) {
  nav .navbar {
    width: 65%;
  }
  nav .navbar .instagram a p {
    display: none;
  }
  nav .navbar .telegram a p {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */