* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Space Mono', monospace;
}
.container {
    width: 100vw;
}
nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E5CFA4;
    .logo {
        img {
            margin-left: 10px;
            height: 100px;
            transform: rotate(90deg);
        }
        margin-right: 20px;
        margin-left: 10px;
        a {
            text-decoration: none;
            color: black;
        }
    }
    .navbar {
        width: 44%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .telephone {
            margin-right: 10px;
            position: relative;
            &::after {
                position: absolute;
                bottom: -7px;
                content: '';
                width: 0%;
                height: 3px;
                transition: 0.5s;
                border-radius: 5px;
            }
            &:hover {
                transition: 0.2s;
                &::after {
                    width: 100%;
                    background-color: black;
                }
            }
            a {
                text-decoration: none;
                color: black;
                transition: 0.2s;
                font-weight: 900;
                font-size: 18px;
                display: flex;
                align-items: center;
                
                i {
                    display: inline;
                    margin-right: 5px;
                    p {
                        display: inline;
                        align-items: center;
                    }
                }
            }
        }
        .instagram {
            margin-right: 10px;
            position: relative;
            &::after {
                position: absolute;
                bottom: -7px;
                content: '';
                width: 0%;
                height: 3px;
                transition: 0.5s;
                border-radius: 5px;
            }
            &:hover {
                transition: 0.2s;
                &::after {
                    width: 100%;
                    background-color: black;
                }
            }
            a {
                text-decoration: none;
                color: black;
                transition: 0.2s;
                font-weight: 900;
                font-size: 20px;
                display: flex;
                align-items: center;
                i {
                    font-weight: 900;
                    margin-right: 5px;
                }
                p {
                    display: inline;
                    font-family: 'Space Mono', monospace;
                    font-weight: 900;
                }
            }
        }
        .telegram {
            transition: 0.2ms;
            position: relative;
            &::after {
                position: absolute;
                bottom: -7px;
                content: '';
                width: 0%;
                height: 3px;
                transition: 0.5s;
                border-radius: 5px;
            }
            &:hover {
                transition: 0.2s;
                &::after {
                    width: 100%;
                    background-color: black;
                }
            }
            a {
                text-decoration: none;
                color: black;
                transition: 0.2s;
                font-weight: 900;
                font-size: 20px;
                display: flex;
                align-items: center;
                &:hover {
                    // color: #6D757A;
                    transition: 0.2s;
                }
                i {
                    margin-right: 5px;
                }
                p {
                    display: inline;
                    font-family: 'Space Mono', monospace;
                    font-weight: 900;
                }
            }
        }
    }
}


main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    // margin: 0 auto;
    // background-color: black;
    .left {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        // width: calc((100%)/3)-10px;
        img {
            height: 15vh;
        }
    }
    .middle {
        // display: flex;
        // justify-content: center;
        // width: calc((100%)/3)-10px;
        margin-left: 10px;
        margin-right: 10px;
        img {
            height: 40vh;
        }
    }
    .right {
        // width: calc((100%)/3)-10px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        img {
            height: 15vh;
        }
    }
}

.product {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: black;
    h2 {
        color: #E5CFA4;
        width: 100%;
        margin: 0 auto;
    }
    .img__product {
        img {
            width: 100%;
        }
    }
}


@media screen and (max-width: 480px) {
    nav {
        .navbar {
            width: 65%;
            .instagram {
                a {
                    p {
                        display: none;
                    }
                }
            }
            .telegram {
                a {
                    p {
                        display: none;
                    }
                }
            }

        }
    }
    main {
    
    }
}