* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #E5CFA4;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(30, 30, 25);
    height: 30px;
    border-radius: 50px;
}


body {
    font-family: 'Space Mono', monospace;
    overflow-x: hidden;
    background-color: black;
    .scroll-top {
        position: fixed;
        width: 50px;
        height: 50px;
        background-color: #E5CFA4;
        bottom: 10px;
        right: 5px;
        border-radius: 10px;
        i {
           margin-left: 6px;
           color: rgb(0, 0, 0);

        }
    }
}
.container {
    width: 100vw;
}
nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e5cfa4;
    position: fixed;
    z-index: 999;
    .languages {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80px;
        .uzbek {
            img {
                width: 30px;
            }
        }
        .russian {
            width: 30px;
            img {
                width: 30px;
            }
        }
    }
    .navbar {
        width: 44%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .telephone {
            margin-right: 10px;
            position: relative;
            &::after {
                position: absolute;
                bottom: -7px;
                content: '';
                width: 0%;
                height: 3px;
                transition: 0.5s;
                border-radius: 5px;
            }
            &:hover {
                transition: 0.2s;
                &::after {
                    width: 100%;
                    background-color: black;
                }
            }
            a {
                text-decoration: none;
                color: black;
                transition: 0.2s;
                font-weight: 900;
                font-size: 18px;
                display: flex;
                align-items: center;
                
                i {
                    display: inline;
                    margin-right: 5px;
                    p {
                        display: inline;
                        align-items: center;
                    }
                }
            }
        }
        .instagram {
            margin-right: 10px;
            position: relative;
            &::after {
                position: absolute;
                bottom: -7px;
                content: '';
                width: 0%;
                height: 3px;
                transition: 0.5s;
                border-radius: 5px;
            }
            &:hover {
                transition: 0.2s;
                &::after {
                    width: 100%;
                    background-color: black;
                }
            }
            a {
                text-decoration: none;
                color: black;
                transition: 0.2s;
                font-weight: 900;
                font-size: 20px;
                display: flex;
                align-items: center;
                i {
                    font-weight: 900;
                    margin-right: 5px;
                }
                p {
                    display: inline;
                    font-family: 'Space Mono', monospace;
                    font-weight: 900;
                }
            }
        }
        .telegram {
            transition: 0.2ms;
            position: relative;
            &::after {
                position: absolute;
                bottom: -7px;
                content: '';
                width: 0%;
                height: 3px;
                transition: 0.5s;
                border-radius: 5px;
            }
            &:hover {
                transition: 0.2s;
                &::after {
                    width: 100%;
                    background-color: black;
                }
            }
            a {
                text-decoration: none;
                color: black;
                transition: 0.2s;
                font-weight: 900;
                font-size: 20px;
                display: flex;
                align-items: center;
                &:hover {
                    // color: #6D757A;
                    transition: 0.2s;
                }
                i {
                    margin-right: 5px;
                }
                p {
                    display: inline;
                    font-family: 'Space Mono', monospace;
                    font-weight: 900;
                }
            }
        }
    }
}


main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    background-color: black;
    padding-top: 80px;
    .left {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        img {
            height: 25vh;
        }
    }
    .middle {
        display: flex;
        align-items: center;
        img {
            height: 75vh;
        }
    }
    .right {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        img {
            height: 25vh;
        }
    }
    padding-bottom: 30px;
}
h2 {
    background-color: black;
    color: #E5CFA4;
    text-align: center;
    font-size: 40px;
}

.product-img {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: black;
    h2 {
        color: #E5CFA4;
        width: 100%;
        margin: 0 auto;
    }
    .img__product {
        img {
            width: 100%;
            margin-top: 30px;
        }
    }
}
.about__product {
    background-color: black;
    color: #FFF;
    width: 90%;
    margin: 0 auto;
    .description {
        // width: 90%;
        // margin: 0 auto;
        h3 {
            // text-align: center;
            color: #E5CFA4;
        }
    }
}
.form {
    width: 100%;
    margin: 0 auto;
    form {
        display: flex;
        flex-direction: column;
        label {
            color: #E5CFA4;
            margin: 0 auto;
        }
        input {
            width: 250px;
            height: 30px;
            border-radius: 5px;
            font-size: 18px;
            margin: 0 auto;
            padding-left: 10px;
            padding-right: 10px;
        }
        .button {
            width: 100px;
            background-color: #E5CFA4;
            font-weight: 700;
            transition: 0.2s;
            outline: none;
            margin: 0 auto;
            &:active {
                background-color: #867a63;
                transition: 0.2s;
            }
            &:hover {
                background-color: #867a63;
                transition: 0.2s;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    nav {
        .navbar {
            width: 65%;
            .instagram {
                a {
                    p {
                        display: none;
                    }
                }
            }
            .telegram {
                a {
                    p {
                        display: none;
                    }
                }
            }

        }
    }
   main {
       .left {
           img {
               height: 15vh;
           }
       }
       .middle {
        img {
            height: 45vh;
            }
        }
        .right {
            img {
                height: 15vh;
            }
        }
   }
   .about__product {
       width: 90%;
   }
//    .form {
//        width: 100%;
//        form {
//            width: 100%;
//        }
//    }
}