* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #E5CFA4;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(30, 30, 25);
    height: 30px;
    border-radius: 50px;
}


body {
    font-family: 'Space Mono', monospace;
    overflow-x: hidden;
    background-color: black;
    .scroll-top {
        position: fixed;
        width: 50px;
        height: 50px;
        background-color: #E5CFA4;
        bottom: 10px;
        right: 5px;
        border-radius: 10px;
        i {
           margin-left: 6px;
           color: rgb(0, 0, 0);

        }
    }
}
.container {
    width: 100vw;
}
nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e5cfa4;
    position: fixed;
    z-index: 999;
    position: relative;
    .languages {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90px;
        .uzbek {
            width: 40px;
            img {
                width: 30px;
                transition: 0.2s;
                &:active {
                    width: 35px;
                    transition: 0.2s;
                }
            }
        }
        .russian {
            width: 40px;
            transition: 0.2s;
            img {
                width: 30px;
                &:active {
                    width: 35px;
                    transition: 0.2s;
                }
            }
        }
    }
    .navbar {
        width: 44%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .telephone {
            margin-right: 10px;
            position: relative;
            &::after {
                position: absolute;
                bottom: -7px;
                content: '';
                width: 0%;
                height: 3px;
                transition: 0.5s;
                border-radius: 5px;
            }
            &:hover {
                transition: 0.2s;
                &::after {
                    width: 100%;
                    background-color: black;
                }
            }
            a {
                text-decoration: none;
                color: black;
                transition: 0.2s;
                font-weight: 900;
                font-size: 18px;
                display: flex;
                align-items: center;
                
                i {
                    display: inline;
                    margin-right: 5px;
                    p {
                        display: inline;
                        align-items: center;
                    }
                }
            }
        }
        .instagram {
            margin-right: 10px;
            position: relative;
            &::after {
                position: absolute;
                bottom: -7px;
                content: '';
                width: 0%;
                height: 3px;
                transition: 0.5s;
                border-radius: 5px;
            }
            &:hover {
                transition: 0.2s;
                &::after {
                    width: 100%;
                    background-color: black;
                }
            }
            a {
                text-decoration: none;
                color: black;
                transition: 0.2s;
                font-weight: 900;
                font-size: 20px;
                display: flex;
                align-items: center;
                i {
                    font-weight: 900;
                    margin-right: 5px;
                }
                p {
                    display: inline;
                    font-family: 'Space Mono', monospace;
                    font-weight: 900;
                }
            }
        }
        .telegram {
            transition: 0.2ms;
            position: relative;
            &::after {
                position: absolute;
                bottom: -7px;
                content: '';
                width: 0%;
                height: 3px;
                transition: 0.5s;
                border-radius: 5px;
            }
            &:hover {
                transition: 0.2s;
                &::after {
                    width: 100%;
                    background-color: black;
                }
            }
            a {
                text-decoration: none;
                color: black;
                transition: 0.2s;
                font-weight: 900;
                font-size: 20px;
                display: flex;
                align-items: center;
                &:hover {
                    // color: #6D757A;
                    transition: 0.2s;
                }
                i {
                    margin-right: 5px;
                }
                p {
                    display: inline;
                    font-family: 'Space Mono', monospace;
                    font-weight: 900;
                }
            }
        }
    }
}


main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    background-color: black;
    padding-top: 80px;
    .left {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        img {
            height: 25vh;
            border-radius: 10px;
        }
    }
    .middle {
        display: flex;
        align-items: center;
        img {
            height: 75vh;
        }
    }
    .right {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        img {
            height: 25vh;
            border-radius: 10px;
        }
    }
    padding-bottom: 30px;
}
h2 {
    background-color: black;
    color: #E5CFA4;
    text-align: center;
    font-size: 40px;
}

.product-img {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: black;
    h2 {
        color: #E5CFA4;
        width: 100%;
        margin: 0 auto;
    }
    .img__product {
        img {
            width: 100%;
            margin-top: 30px;
        }
    }
}
.about__product {
    background-color: black;
    color: #FFF;
    width: 90%;
    margin: 0 auto;
    .description {
        h3 {
            color: #E5CFA4;
        }
    }
}
.form {
    width: 100%;
    margin: 0 auto;
    form {
        display: flex;
        flex-direction: column;
        label {
            color: #E5CFA4;
            margin: 0 auto;
        }
        input {
            width: 250px;
            height: 30px;
            border-radius: 5px;
            font-size: 18px;
            margin: 0 auto;
            padding-left: 10px;
            padding-right: 10px;
            line-height: 28px;
            border: 2px solid transparent;
            border-bottom-color: #777;
            padding: .2rem 0;
            outline: none;
            background-color: transparent;
            color: #E5CFA4;
            transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
            &:hover, &:focus {
                outline: none;
                padding: .2rem 1rem;
                border-radius: 1rem;
                border-color: #E5CFA4;
            }
            &::placeholder {
                color: #777;
            }
            &:focus::placeholder {
                opacity: 0;
                transition: opacity .3s;
            }
        }
    
        
    }
}

.pop-up-succes {
    position: absolute;
    // bottom: 200px;
    left: calc((100%)/2 -250px);
    width: 500px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    position: relative;
    .succes-exit-btn {
        position: absolute;
        top: -15px;
        right: -15PX;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        img {
            width: 100%;
        }
    }
    .succes__img {
        width: 150px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    .succes-text {
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 25px;
    }
    button {
        width: 100px;
    }
}
@media screen and (max-width: 480px) {
    nav {
        .navbar {
            width: 65%;
            .instagram {
                a {
                    p {
                        display: none;
                    }
                }
            }
            .telegram {
                a {
                    p {
                        display: none;
                    }
                }
            }

        }
    }
   main {
       .left {
           img {
               height: 15vh;
           }
       }
       .middle {
        img {
            height: 45vh;
            }
        }
        .right {
            img {
                height: 15vh;
            }
        }
   }
   .about__product {
       width: 90%;
   }
   .form {
       .pop-up-succes {
           width: 300px;
       }
   }
}


